.hook-inline-form-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  .hook-inline-form-container {
    width: 100%;
    margin-bottom: 10px;
    &.collapsed {
      border-bottom: 1px solid $bordergrey;
    }
    .hook-inline-form {
      width: 100%;
      overflow-y: auto;
      display: grid;
      grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);

      &.in-panel {
        grid-template-columns: minmax(0, 1fr);
        overflow-y: hidden;
        padding-bottom: 32px;
        .form-field {
          padding: 0px 30px;
          .field-container {
            max-height: 500px;
          }
        }
      }

      &.collapsed {
        overflow-y: clip;
        max-height: 370px;
        -webkit-mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
        mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
      }

      &.modal {
        display: flex;
        flex-direction: column;
        align-items: end;
        padding-top: 15px;
        width: 300px;
        .form-field {
          width: 100%;
          padding: 0;
          margin: 0;
        }
      }

      .form-field {
        margin: 2px;
        padding: 3px;
        margin-top: 0;
        padding-top: 0;
        margin-bottom: 0;

        &.saving {
          label {
            font-style: italic;
          }
        }

        .form-label {
          font-size: 13px;
          font-weight: $fontSemiBold;
          word-break: break-word;
        }

        .field-container {
          min-height: 34px;
          max-height: 125px;
          overflow: auto;
        }

        .message {
          min-height: 18px;
          display: flex;
          .ms-Spinner {
            height: 18px;
          }
          span {
            padding-left: 3px;
          }
          .error-icon {
            color: $errorColor;
          }
          .error-message {
            color: $errorColor;
            font-size: 12px;
          }

          .warning-icon {
            color: $activityColor;
          }
          .warning-message {
            color: $activityColor;
            font-size: 12px;
          }

          .save-message {
            color: $nominationInfoHeaderColor;
            font-size: 12px;
          }
        }
      }
    }
  }

  .expand-button {
    color: $CompletedStatus;
  }
}

.hook-form-loading {
  width: 100%;
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  overflow-y: clip;
  max-height: 370px;
  -webkit-mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
  mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
  padding-top: 10px;
  background-color: $white;

  &.in-panel {
    grid-template-columns: minmax(0, 1fr);
    .form-field-loading {
      padding: 0px 30px;
    }
  }

  .form-field-loading {
    margin: 2px;
    padding: 3px;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 10px;

    .ms-Shimmer-container {
      margin-bottom: 8px;
    }
  }
}

.hook-inline-form-modal-container {
  max-width: 100%;
}

.hook-inline-form-modal {
  .ms-Modal-scrollableContent {
    padding: 10px;
  }
}

.hook-inline-form-filter {
  padding: 0px 16px;
  .elx-searchbox {
    align-items: end;
    .elx-searchbox-icon {
      margin-top: 12px;
    }
    .elx-searchbox-clear {
      padding: 0px;
    }
  }
}

.hook-form-crashed {
  @extend .flexBox;
  @extend .column;
  width: 100%;
  align-items: center;
  padding: 40px;
  background-color: $ErrorBackgroundColor;

  .entity-details {
    margin: 2px;
  }

  .open-icm {
    margin: 2px;
    .icm-link {
      padding: 0px 4px;
      font-weight: bold;
    }
  }

  .error-stack {
    width: 750px;
  }
}
